global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

rule_files:
  - /etc/prometheus/rules/*.yml

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]
  - job_name: "ssf-app"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["ssf-app:8181"]


# Swarm (optional): scrape replicas via DNS service discovery
# scrape_configs:
#  - job_name: 'ssf-app'
#    metrics_path: '/actuator/prometheus'
#
#    dns_sd_configs:
#      - names:
#          - 'tasks.ssf-app'
#        type: 'A'
#        port: 8181